* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("https://www.wallpaperkiss.com/wimg/b/148-1487743_big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 40px;
}

.backg {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #222a;
}

.foot {
    height: 10vh;
}