* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url("https://fondosmil.com/fondo/17010.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 40px;
}

.backg {
    background-color: #343a40bb;
}

main {
    height: 90vh;
}

article {
    height: 90vh;
}

section {
    height: 90vh;
}

/* header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0009;
    color: #fff;
    padding: 0 35px;
}

.headImg {
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.headImg img {
    max-height: 55%;
}

.navBar {
    width: 50%;
} */